@charset "utf-8";
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}
body{
    background: url(../images/background.jpg)
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

ul, ol, dl {
    padding: 0;
    margin: 0;
    list-style: none;
}

input, button {
    padding: 0;
    margin: 0;
    border: none;
}

#warp {
    width: 100%;
    height: 100%;
}

.head {
    width: 100%;
    height: 50px;
}

.head>.title {
    font-size: 30px;
    color: #36cc71;
    line-height: 50px;
    margin-left: 50px;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
}

.left {
    width: 10%;
    height: 100%;
}

.center {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.center>.title {
    width: 100%;
    height: 40px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}
.edition{
    font-size: 20px;
}
.center>.setInfo {
    width: 100%;
    height: 40px;
    text-align: center;
}

.setInfo .time {
    width: 60px;
    height: 30px;
    margin-top: 5px;
    text-align: center;
    border: 1px solid #36cc71;
}

.setInfo .set {
    background: #286090;
    color: #fff;
}

.center>.user {
    width: 70%;
    height: 100%;
    display: flex;
}

.user>div {
    width: 45%;
    height: 100%;
    margin: 0 2.5%;
}

.user .title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

.center>.phone {
    width: 30%;
    height: 100%;
    position: absolute;
    top: 20px;
    right: 0px;
}

.user_info {
    width: 100%;
    height: 120px;
    display: flex;
}

.uploadImg {
    display: none;
}

.user_info .headImg {
    width: 80px;
    height: 80px;
    margin: 20px;
}

.user_info .userName {
    width: 165px;
    height: 35px;
    border: 1px solid #ccc;
    margin-top: 42px;
    margin-right: 20px;
}

.user_info .set_userName {
    width: 67px;
    height: 37px;
    margin-top: 42px;
    background: #337ab7;
    color: #fff;
}

.sendText {
    width: 100%;
    height: 60px;
    display: flex;
}

.sendText .text {
    width: 240px;
    height: 38px;
    border: 1px solid #ccc;
    margin: 10px 20px;
}

.sendText .send_text {
    width: 90px;
    height: 40px;
    margin-top: 10px;
    background: #337ab7;
    color: #fff;
}

.sendImg {
    width: 100%;
    height: 100px;
    display: flex;
}

.sendImg .msgImg {
    width: 70px;
    height: 70px;
    margin: 15px 20px;
}

.sendImg .send_img {
    width: 90px;
    height: 50px;
    margin-top: 25px;
    margin-left: 170px;
    background: #337ab7;
    color: #fff;
}

.sendVoice, .sendMoney {
    width: 100%;
    height: 60px;
    display: flex;
}

.sendVoice .voice, .sendMoney .money {
    width: 240px;
    height: 38px;
    border: 1px solid #ccc;
    margin: 10px 20px;
}

.sendVoice .send_voice, .sendMoney .send_money {
    width: 90px;
    height: 40px;
    margin-top: 10px;
    background: #337ab7;
    color: #fff;
}

.money_top .money_main {
    flex: 1;
    height: 100%;
    color: #fff;
}

.money_main .money_amount {
    height: 29px;
    line-height: 43px;
    font-size: 18px;
}

.money_main .money_user {
    height: 29px;
    font-size: 12px;
    line-height: 22px;
}

.phone .view_warp {
    width: 320px;
    height: 570px;
    background: #ededed;
    margin: 20px auto;
}

.view_warp .view_top {
    width: 100%;
    height: 64px;
    border-bottom: 2px solid #d5d5d5;
}

.view_warp .view_main {
    width: 100%;
    height: 454px;
}

.view_warp .view_top .phone_info {
    width: 100%;
    height: 20px;
}

.view_warp .view_top .name {
    width: 100%;
    height: 44px;
    display: flex;
}

.view_top .name .left {
    width: 30px;
    height: 100%;
    font-size: 30px;
    line-height: 44px;
    text-align: right;
    color: #1f1f1f;
}

.view_top .name .num {
    width: 40px;
    height: 24px;
    border-radius: 50%;
    background: #d5d5d5;
    text-align: center;
    line-height: 24px;
    color: #181818;
    margin-top: 10px;
}

.view_top .name .name_info {
    flex: 1;
    height: 100%;
    line-height: 44px;
    color: #181818;
    text-align: center;
    font-size: 20px;
    background: transparent;
    border: none;
}
input:focus
{
    outline: none;
}

.view_top .name .meun {
    width: 45px;
    height: 44px;
    line-height: 44px;
    color: #181818;
    font-size: 35px;
}

.view_main .msg_time {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    color: #a5a5a5;
}

.msg_right {
    width: 260px;
    display: flex;
    margin-left: 50px;
    margin-right: 10px;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}

.msg_sendMoney_right .msg_sendMoney,msg_sendMoney_left .msg_sendMoney {
    width: 100%;
    height: 80px;
}
.msg_sendMoney .money_top {
    height: 59px;
    background: #fa9d3b;
    border-bottom: 1px solid #fee0c0;
    border-radius: 5px 5px 0 0;
    display: flex;
}

.money_top .icon-zhuanzhang {
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    margin-left: 5px;
}

.msg_sendMoney .money_bot {
    height: 20px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    color: #ccc;
    font-size: 12px;
    line-height: 20px;
    padding-left: 10px;
}

.msg_left {
    width: 260px;
    display: flex;
    margin-right: 50px;
    margin-left: 10px;
    margin-bottom: 20px;
}
msg_sendMoney_left .msg_sendMoney,.msg_sendMoney_left .msg_sendMoney{
    width: 100%;
    height: 80px;
}
.msg_right .msg_text, .msg_right .msg_voice {
    background: #95ec69;
    padding: 10px;
    border-radius: 5px;
}

.msg_left .msg_text, .msg_left .msg_voice {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}

.msg_right .icon-you {
    font-size: 15px;
    color: #95ec69;
    margin-top: 10px;
    margin-left: -3px;
}
.msg_sendMoney_right .icon-you,.msg_sendMoney_left .icon-zuofanye{
    color: #fa9d3b;
}
.msg_left .icon-zuofanye {
    font-size: 15px;
    color: #fff;
    margin-top: 10px;
    margin-right: -3px;
}
.msg_sendMoney_left .icon-zuofanye{
    color: #fa9d3b;
}
.msg_right .msg_head, .msg_left .msg_head {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.msg_right .msg_head {
    margin-left: 10px;
}

.msg_left .msg_head {
    margin-right: 10px;
}

.msg_left .msg_img, .msg_right .msg_img {
    width: 130px;
    height: 80px;
    margin-right: 12px;
    border-radius: 5px;
}